@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Deimos.otf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.jetbrains-mono-font {
  font-family: "JetBrains Mono";
  font-optical-sizing: auto;
  font-style: normal;
}
.jetbrains-mono-light {
  font-family: "JetBrains Mono";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:100
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gridBG{
  background: url("./components/assets/background.png" ) ;
  background-size: cover;
}

.helveticaNewRoman{
  font-family: 'Helvetica';
}

/* Glitch Effect */
.glitch-effect {
  position: relative;
  display: inline-block;
  color: #32cd32; /* Lime green */
}

.glitch-effect::before,
.glitch-effect::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #00ff00; /* Bright green for effect */
  clip: rect(0, 900px, 0, 0);
  animation: glitch 2s infinite linear;
}

.glitch-effect::before {
  text-shadow: 2px 2px #ff00ff;
  animation: glitch 2s infinite ease-in-out;
}

.glitch-effect::after {
  text-shadow: -2px -2px #00ffff;
  animation: glitch 1.5s infinite ease-in-out reverse;
}

@keyframes glitch {
  0% {
    clip: rect(0, 100%, 10px, 0);
    transform: translate(2px, -2px);
  }
  25% {
    clip: rect(20px, 100%, 30px, 0);
    transform: translate(-2px, 2px);
  }
  50% {
    clip: rect(10px, 100%, 20px, 0);
    transform: translate(2px, -2px);
  }
  75% {
    clip: rect(30px, 100%, 40px, 0);
    transform: translate(-2px, 2px);
  }
  100% {
    clip: rect(0, 100%, 10px, 0);
    transform: translate(2px, -2px);
  }
}
